*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

//COLORS
$color-primary: #a7727c;
$color-primary-dark: rgb(134, 91, 99);
$color-secondary: #eddbc7;
$color-tertiary: #f8ead8;
$color-tertiary-light: #faf0e4;
$color-white: rgb(249, 245, 231);

//FONT-SIZE
$fs-smaller: 1.2rem;
$fs-small: 1.6rem;
$fs-base: 2rem;
$fs-medium: 4rem;
$fs-big: 6rem;

body {
  font-family: "Montserrat", "Great Vibes", sans-serif;
  color: $color-primary-dark;
  font-size: $fs-base;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: $color-white;
  gap: 10rem;
  background: linear-gradient(
    rgba($color-primary, 0.2) 0%,
    rgba($color-primary, 0.2) 100%
  );
  position: relative;
  height: 100vh;
  box-shadow: 0px 8px 20px -5px #54393e;

  &__bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;

    &--content {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: 40%;
    }
  }

  &__heading {
    &--main {
      font-family: "Great Vibes";
      font-weight: 600;
      font-size: $fs-big;
      color: $color-white;
      text-align: center;
      & span {
        display: block;
      }
    }

    &--secondary {
      font-family: "Montserrat";
      text-align: center;
      font-size: $fs-base;
    }
  }

  &__counter {
    display: grid;
    grid-template-columns: repeat(7, min-content);
    justify-items: center;
    align-items: center;
    column-gap: 0.3rem;

    &--hours-text {
      grid-column: 3/4;
    }
    &--mins-text {
      grid-column: 5/6;
    }
    &--secs-text {
      grid-column: 7/8;
    }

    & > span {
      font-size: $fs-medium;
    }

    & > p {
      font-size: $fs-smaller;
    }
  }
}

.main {
  background-color: $color-tertiary-light;
  background-image: url("./img/background.jpeg");
  background-size: cover;
  text-align: center;
  padding: 5rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  position: relative;

  .balloon {
    position: absolute;
    bottom: 0;
    left: 5vw;
    z-index: 100;
    height: 12rem;
    filter: drop-shadow(3px 4px 4px #776e64);
    animation: shake 4s infinite, fly 20s both;
    transform-origin: top;
  }

  img {
    width: 100%;
  }

  .cloud {
    position: absolute;
    top: calc(600px - var(--scroll));
    right: 5vw;
    z-index: 0;
    height: 8rem;
    filter: drop-shadow(3px 4px 4px #776e64);
  }

  small {
    margin-top: 5rem;
    text-align: left;
    font-family: "Great Vibes";
    font-size: $fs-base;
  }
}

@keyframes fly {
  from {
    bottom: 0;
  }
  to {
    bottom: 120%;
  }
}

@keyframes shake {
  from,
  to {
    transform: rotate(8deg);
  }
  50% {
    transform: rotate(-8deg);
  }
}

@media screen and (min-width: 832px) {
  body {
    max-width: 830px;
    margin: 0 auto;
  }

  .main {
    padding: 10rem 10rem;

    .balloon {
      left: 35%;
    }

    &__image--yes {
      transform: translateX(-800px);
    }
    &__image--no {
      transform: translateX(750px);
    }
  }
}
